<div class="Service-Main">
  <div class="Service-Category">
    <h1>Primary Care</h1>
  </div>
  <div class="Service-Container">
    <div class="Service-Card">
      <div class="Service-Image">
        <img src="../assets/images/service_1.jpg" alt="" srcset="" />
      </div>
      <div class="Service-Details">
        <div class="Service-Title">
          <h2>Adult Medicine</h2>
        </div>
        <div class="Service-Reviews">
          <p-rating
            [(ngModel)]="value"
            [readonly]="true"
            [cancel]="false"
          ></p-rating>
        </div>
        <div class="Service-Enrollment">
          <p>102 enrolled</p>
        </div>
        <div class="Service-Link">
          <a href="">
            <p id="service-enroll">Enroll</p>
            <p id="service-date">Starts Jan 13</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
