<div class="Navbar-Main">
  <div class="Navbar-Logo">
    <a href="/home">
      <div class="Logo-Icon">
        <img src="../assets/icons/health_center_logo.png" alt="" srcset="" />
      </div>
      <div class="Logo-Text">
        <p>Mental Center</p>
      </div>
    </a>
  </div>
  <div class="Navbar-Links">
    <a href="/our-services">Services</a>
    <a href="/clinics">Clinics</a>
    <a href="/treatments">Treatments</a>
  </div>
  <div class="Navbar-Button"><input type="button" value="Get Help ?" /></div>
</div>
