.Treatment-Container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  width: 80%;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.Treatment {
  width: 320px;
  background-color: white;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border: 2px solid rgb(199, 199, 199);
  transition: all 0.5s;
  margin-bottom: 20px;
}

.Treatment:hover {
  box-shadow: 1px 1px 15px rgb(199, 199, 199);
  transform: scale(1.05);
}

.Treatment-Details {
  padding: 15px;
}

.Treatment-Upper {
  height: 160px;
}

.Treatment-Image {
  height: 100%;
}

.Treatment-Image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 100% 0;
}

.Treatment-Doctor,
.Treatment-Doctor img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}

.Treatment-Doctor {
  box-shadow: 0px 4px 5px rgb(160, 160, 160);
  position: relative;
  float: right;
  bottom: 28px;
  right: 15px;
  cursor: pointer;
}

.Treatment-Doctor img {
  object-fit: cover;
}

.Treatment-Date,
.Treatment-Text,
.Treatment-Title {
  color: #4e3472;
}

.Treatment-Title {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.Treatment-Text {
  font-weight: 600;
  text-align: justify;
  font-size: 12.5px;
}

.Treatment-Date {
  text-align: right;
  font-weight: 700;
  margin-bottom: 0;
  font-size: 14px;
}
