<div class="Treatment-Container">
  <div class="Treatment">
    <div class="Treatment-Upper">
      <div class="Treatment-Image">
        <img src="../assets/images/treatment_1.jpg" alt="" srcset="" />
      </div>
      <div class="Treatment-Doctor">
        <img src="../assets/images/doctor_1.png" alt="" srcset="" />
      </div>
    </div>
    <div class="Treatment-Details">
      <h2 class="Treatment-Title">{{ treatment?.topic }}</h2>
      <p class="Treatment-Text">
        {{ treatment?.body }}
      </p>
      <p class="Treatment-Date">
        {{ treatment?.createdAt }}
      </p>
    </div>
  </div>
</div>
