<div class="Treatment-Container">
  <div *ngFor="let treatment of treatments" class="Treatment">
    <div class="Treatment-Upper">
      <div class="Treatment-Image">
        <img
          [src]="
            '../../assets/images/' +
            (treatment.image.path
              ? treatment.image.path
              : 'treatment_default.png')
          "
          [alt]="treatment.topic"
        />
      </div>
      <div class="Treatment-Doctor">
        <img
          [src]="
            '../../assets/images/' +
            (treatment.doctor.image.path
              ? treatment.doctor.image.path
              : 'clinic_default.png')
          "
          [alt]="treatment.doctor.firstname"
        />
      </div>
    </div>
    <div class="Treatment-Details">
      <h2 class="Treatment-Title">{{ treatment.topic }}</h2>
      <p class="Treatment-Text">
        {{ treatment.body }}
      </p>
      <p class="Treatment-Date">
        {{ treatment.createdAt | date : "d MMM" }}
      </p>
    </div>
  </div>
</div>
