<div class="Introduction">
  <p>
    “Finding the right treatment is essential to successful recovery. Focused,
    intensive and based on our individual client‘s needs, our various NEOVIVA
    treatment options are designed to help you reach your goal: overcome
    addiction and take back control of your life. Every aspect of our programs
    is dedicated to your personal medical and psychological needs – from a
    concierge level of care, an intimate private setting to a wide range of
    complementary therapies.”
  </p>
</div>
