<div class="Service-Main">
  <div class="Service-Category">
    <h1>{{ ourservices[0].category.name }}</h1>
  </div>
  <div class="Service-Container">
    <div *ngFor="let ourservice of ourservices" class="Service-Card">
      <div class="Service-Image">
        <img src="../assets/images/service_1.jpg" alt="" srcset="" />
      </div>
      <div class="Service-Details">
        <div class="Service-Title">
          <h2>{{ ourservice.name }}</h2>
        </div>
        <div class="Service-Reviews">
          <p-rating
            [(ngModel)]="ourservice.reviews"
            [readonly]="true"
            [cancel]="false"
          ></p-rating>
        </div>
        <div class="Service-Enrollment">
          <p>{{ ourservice.totalEnrollment }} enrolled</p>
        </div>
        <div class="Service-Link">
          <a href="">
            <p id="service-enroll">Enroll</p>
            <p id="service-date">
              Starts {{ ourservice.startDate | date : "MMM dd" }}
            </p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
