<div class="Home-Container">
  <div class="Home-Left">
    <p id="p-rounded">MENTAL HEALTH AT 30'S</p>
    <p id="p-slogan">Mental health is wealth</p>
    <div class="Left-Text">
      <button>
        <img src="../../assets/icons/arrow-down.png" alt="arrow_down" />
      </button>
      <p id="p-text">
        To live your life to the fullest, we're continuing to find ways to
        prevent mental health problems.
      </p>
    </div>
  </div>
  <div class="Home-Right">
    <img src="../../assets/images/home_1.png" alt="" />
  </div>
</div>
