<div class="Clinic-Table">
  <div class="Clinic-Header"></div>
  <p-dataView #dv [value]="clinics" [rows]="5" [paginator]="true">
    <ng-template let-clinic pTemplate="listItem">
      <div class="Clinic-Container">
        <div class="Clinic-Image">
          <img
            [src]="
              '../../assets/images/' +
              (clinic.image.path ? clinic.image.path : 'clinic_default.png')
            "
            [alt]="clinic.name"
          />
        </div>
        <div class="Clinic-Details">
          <h3>{{ clinic.name }}</h3>
          <p>{{ clinic.clinicType.name }}</p>
          <p-tag
            [value]="clinic.status"
            [severity]="getSeverity(clinic)"
          ></p-tag>
        </div>
        <div class="Clinic-Reviews">
          <p-rating
            [(ngModel)]="clinic.reviews"
            [readonly]="true"
            [cancel]="false"
          ></p-rating>
        </div>
        <div class="Clinic-Action">
          <a [href]="'https://maps.app.goo.gl/' + clinic.link">
            <img src="../../assets/icons/maps-and-flags.png" alt="" />
          </a>
        </div>
      </div>
    </ng-template>
  </p-dataView>
</div>
