<div class="Treatment-Container">
  <div class="Treatment">
    <div class="Treatment-Image">
      <img src="../assets/images/treatment_1.jpg" alt="" srcset="" />
    </div>
    <div class="Treatment-Details">
      <h2 class="Treatment-Title">Family Program</h2>
      <p class="Treatment-Text">
        Let‘s find healing from addiction – together! Learn how you and your
        family can work together towards your long-term recovery.
      </p>
      <p class="Treatment-Date">15 Oct</p>
    </div>
  </div>
</div>
