.Treatment-Container {
  display: flex;
  width: 80%;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.Treatment {
  width: 400px;
  background-color: white;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.Treatment-Details {
  padding: 20px;
}

.Treatment-Upper {
  height: 200px;
}

.Treatment-Image {
  height: 100%;
}

.Treatment-Image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 100% 0;
}

.Treatment-Doctor,
.Treatment-Doctor img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.Treatment-Doctor {
  box-shadow: 0px 5px 10px gray;
  position: relative;
  float: right;
  bottom: 35px;
  right: 30px;
}

.Treatment-Doctor img {
  object-fit: cover;
}

.Treatment-Date,
.Treatment-Text,
.Treatment-Title {
  color: #4e3472;
}

.Treatment-Text {
  font-weight: 600;
  text-align: justify;
}

.Treatment-Date {
  text-align: right;
  font-weight: 700;
  margin-bottom: 0;
}
